.container {
    padding: 30px;
    background: white;
}

body {
    background-image: url("../img/grandis-bg.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#selected-items-container {
    background: lightgrey;
}

#selected-items-container > #select-list > button {
    background: lightgrey;
}